header{
    background-color: #7C71CD;
}
.main-nav{
    padding-top: 25px;
    padding-bottom: 25px;
}
.nav-item{
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    color: #999999;
    margin-bottom: 0;
}
.nav-link{
    position: relative;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
}
.nav-link:hover{
    color:white;
}